body {
  background-color: white
   !important;
}

#reg-input {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

  #reg-input:invalid {
    border: 52px red;
    
  }
  #reg-input:invalid:focus {
    background-image: linear-gradient(white, red);
  }

  #reg-button {
    margin-left: 45%;
    margin-right: 45%;
    min-width: 10%;
  }

  #generated-card{
    
    border-radius: 15px;
  }

  #card-img-container{
    background-color: transparent;
    border: none;
    text-align: center;
  }

  #generated-card:hover{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.05);
}

#button-filter-black{
  height: 40px;
  width: 40px;
    background: url("")
}